{% load static %}
{% include "../header.html" %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Remove Background Image</h1>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">

        

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>

              <!-- Vertical Form -->
              <form action="" method="POST" enctype="multipart/form-data" class="row g-3">
                {% csrf_token %}
                <div class="col-12">
                  <label class="form-label">Select Image </label>
                  <input type="file" name="image" class="form-control" id="inputNanme4">
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Remove</button>
                  <a href="/tools-index" class="btn btn-secondary">Back</a>
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>

 
      </div>
    </section>
    <section class="section">
        <div class="row align-items-top">
          
            <div class="col-sm-6">
              <!-- Special title treatmen -->
              <div class="card text-center">
                <div class="card-header">
                </div>
                <div class="card-body">
                  {% for pic in pics %}
                  <image src={{pic.output.url}}><br>
                    <image src={{pic.image.url}}><br>
                    
                   {% endfor %} 
                  <a href="{{pics.output.url}}" class="btn btn-primary" download>Download</a>
                </div>
              </div><!-- End Special title treatmen -->
            </div>
         
  
        </div>
      </section>

  </main><!-- End #main -->


<!-- ======= Footer ======= -->
  <!--<footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Fitri</span></strong>. All Rights Reserved
    </div>
  </footer>--><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'feed/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'feed/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'feed/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'feed/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'feed/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'feed/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'feed/vendor/tinymce/tinymce.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'feed/js/main.js' %}"></script>
  <script src="{% static 'feed/js/custom.js' %}"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

</body>

</html>