{% load static %}
{% include "../header.html" %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1></h1>
        
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row align-items-top">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"></h5>
  
                <!-- Vertical Form -->
                <form action="" method="POST" enctype="multipart/form-data" class="row g-3">
                  {% csrf_token %}
                  <div class="col-12">
                    <center><label class="form-label"><img class="img-fluid img-responsive" src="{% static 'tools/img/ask.png' %}" width=400 height=200></label></center>
                    <input type="text" name="ask" class="form-control" id="inputNanme4">
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Ask</button>
                    <a href="/tools-index" class="btn btn-secondary">Back</a>
                  </div>
                </form><!-- Vertical Form -->
  
              </div>
            </div>
        </div>
        <div class="row">
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <center><i class="bi bi-star me-1"></i>
            Results History</center>
          </div>
          {% for ans in answer reversed%}
          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              <h5 class="card-title">Your Answer for <u><b>{{ans.quest}}</b></u></h5>
            </div>
            <div class="card-body">    
              <p>{{ans.outputtext}}<p>
              <h5><img class="img-fluid img-responsive" src={{ans.outputimg}}></h5>
                
              <a style="float:left;" href="/wolfdel/{{ans.id}}" class="btn btn-danger btn-sm">Remove</a>   
            </div>
          </div>
          <!-- End Special title treatmen -->
          {% endfor %}
        </div>
    </section>

</main>

{% include '../footer.html' %}