{% load static %}
{% include "../header.html" %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Tools</h1>
      
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <!-- Special title treatmen -->
        <div class="card text-center bg-info">
          <div>
            <h1 class="card-title">Ask Corner</h1>
          </div>
        </div><!-- End Special title treatmen -->
      </div>
      <div class="row align-items-top">
        <div class="col-lg-2">
              
          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              <h5 class="card-title">Math</h5>
            </div>
            <div class="card-body">
              
              <h1><i class="bi bi-calculator"></i></h1>
              <a href="/wolfmath" class="btn btn-primary">Go</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

        <div class="col-lg-2">

           <!-- Special title treatmen -->
           <div class="card text-center">
            <div>
              <h5 class="card-title">Weather</h5>
            </div>
            <div class="card-body">
              
              <h1><i class="bi bi-cloud-sun-fill"></i></h1>
              <a href="/wolfweather" class="btn btn-primary">Go</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

        <div class="col-lg-2">

          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              <h5 class="card-title">General</h5>
            </div>
            <div class="card-body">
              
              <h1><i class="bi bi-robot"></i></h1>
              <a href="/wolf" class="btn btn-primary">Go</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

        <div class="col-lg-2">

          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              <h5 class="card-title">Articles</h5>
            </div>
            <div class="card-body">
              
              <h1><i class="bi bi-layout-text-window-reverse"></i></h1>
              <a href="/wiki" class="btn btn-primary">Go</a>
            </div>
          </div><!-- End Special title treatmen -->


        </div>

        <div class="col-lg-2">


           <!-- Special title treatmen -->
           <div class="card text-center">
            <div>
              <h5 class="card-title">How To</h5>
            </div>
            <div class="card-body">
              
              <h1><i class="bi bi-question-square-fill"></i></h1>
              <a href="/wikihow" class="btn btn-primary">Go</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

      </div>
      <div class="row">
        <!-- Special title treatmen -->
        <div class="card text-center bg-warning">
          <div>
            <h1 class="card-title">Other Tools</h1>
          </div>
        </div><!-- End Special title treatmen -->
      </div>
      <div class="row align-items-top">
        <div class="col-lg-2">
              
          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              <h5 class="card-title">Any To QR Code</h5>
            </div>
            <div class="card-body">
              
              <h1><i class="bi bi-qr-code"></i></h1>
              <a href="/qr" class="btn btn-primary">Go</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>
        <div class="col-lg-2">
              
          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              <h5 class="card-title">Excel 2 CSV</h5>
            </div>
            <div class="card-body">
              
              <h1><i class="bi bi-filetype-csv"></i></h1>
              <a href="/xcel2csv" class="btn btn-primary">Go</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

        <div class="col-lg-2">
              
          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              <h5 class="card-title">Mp4 to Mp3</h5>
            </div>
            <div class="card-body">
              
              <h1><i class="bi bi-filetype-mp3"></i></h1>
              <a href="/mp324" class="btn btn-primary">Go</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

      </div>
      <div class="row">
        <!-- Special title treatmen -->
        <div class="card text-center bg-success">
          <div>
            <h1 style="color:white;" class="card-title">Data Visualization</h1>
          </div>
        </div><!-- End Special title treatmen -->
      </div>
      <div class="row align-items-top">
        <div class="col-lg-2">
              
          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              <h5 class="card-title">To Bar Chart</h5>
            </div>
            <div class="card-body">
              
              <h1><i class="bi bi-bar-chart-fill"></i></h1>
              <a href="/bar" class="btn btn-primary">Go</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

        <div class="col-lg-2">
              
          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              <h5 class="card-title">To Histogram</h5>
            </div>
            <div class="card-body">
              
              <h1><i class="bi bi-bar-chart-steps"></i></h1>
              <a href="/hist" class="btn btn-primary">Go</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

        <div class="col-lg-2">
              
          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              <h5 class="card-title">To Line Chart</h5>
            </div>
            <div class="card-body">
              
              <h1><i class="bi bi-graph-up"></i></h1>
              <a href="/line" class="btn btn-primary">Go</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

        <div class="col-lg-2">
              
          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              <h5 class="card-title">To Scatter</h5>
            </div>
            <div class="card-body">
              
              <h1><i class="bi bi-three-dots-vertical"></i></h1>
              <a href="/scatter" class="btn btn-primary">Go</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

        <div class="col-lg-2">
              
          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              <h5 class="card-title">To Line 2</h5>
            </div>
            <div class="card-body">
              
              <h1><i class="bi bi-graph-down-arrow"></i></h1>
              <a href="/line2" class="btn btn-primary">Go</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

      </div>
    </section>

  </main><!-- End #main -->


{% include '../footer.html' %}