{% load static %}
{% include "../header.html" %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Tools</h1>
      
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row align-items-top">
        <div class="col-lg-2">
              
            <!-- Special title treatmen -->
            <!--<div class="card text-center">
              <div>
                <h5 class="card-title">Remove Image Background</h5>
              </div>
              <div class="card-body">
                <h1><i class="bi bi-image"></i></h1>
                <a href="/tools-rembg" class="btn btn-primary">Go</a>
              </div>
            </div>--><!-- End Special title treatmen -->

            <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              <h5 class="card-title">Word To<br> PDF</h5>
            </div>
            <div class="card-body">
              <h1><i class="bi bi-file-word"></i></h1>
              
              <a href="/word2pdf" class="btn btn-primary">Go</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

        <div class="col-lg-2">

          <!-- Special title treatmen -->
          <!--<div class="card text-center">
            <div>
              <h5 class="card-title">Youtube Video to Mp3</h5>
            </div>
            <div class="card-body">    
              <h1><i class="bi bi-youtube"></i></h1>
              <a href="/ytvid" class="btn btn-primary">Go</a>
            </div>
          </div>--><!-- End Special title treatmen -->

          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

        <div class="col-lg-2">

          <!-- Special title treatmen -->
          <!--<div class="card text-center">
            <div>
              <h5 class="card-title">Download Youtube Video</h5>
            </div>
            <div class="card-body">
              <h1><i class="bi bi-youtube"></i></h1>
              <a href="/yt" class="btn btn-primary">Go</a>
            </div>
          </div>--><!-- End Special title treatmen -->

          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

        <div class="col-lg-2">

          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div><!-- End Special title treatmen -->


        </div>

        <div class="col-lg-2">


          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

        <div class="col-lg-2">


          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

      </div>
    </section>

  </main><!-- End #main -->


{% include '../footer.html' %}