{% load static %}
{% include "../header.html" %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Tools</h1>
      
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <!-- Special title treatmen -->
        <div class="card text-center">
          <div>
            <h1 class="card-title">Ask Corner</h1>
          </div>
        </div><!-- End Special title treatmen -->
      </div>
      <div class="row align-items-top">
        <div class="col-lg-2">
              
          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              <h5 class="card-title">Ask Math<br><br></h5>
            </div>
            <div class="card-body">
              
              <h1><i class="bi bi-calculator"></i></h1>
              <a href="/wolf" class="btn btn-primary">Go</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

        <div class="col-lg-2">

           <!-- Special title treatmen -->
           <div class="card text-center">
            <div>
              <h5 class="card-title">Ask Weather<br><br></h5>
            </div>
            <div class="card-body">
              
              <h1><i class="bi bi-cloud-sun-fill"></i></h1>
              <a href="/wolf" class="btn btn-primary">Go</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

        <div class="col-lg-2">

          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              <h5 class="card-title">General  eg:<br>lifespan,country</h5>
            </div>
            <div class="card-body">
              
              <h1><i class="bi bi-robot"></i></h1>
              <a href="/wolf" class="btn btn-primary">Go</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

        <div class="col-lg-2">

          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div><!-- End Special title treatmen -->


        </div>

        <div class="col-lg-2">


          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

        <div class="col-lg-2">


          <!-- Special title treatmen -->
          <div class="card text-center">
            <div>
              
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div><!-- End Special title treatmen -->

        </div>

      </div>
    </section>

  </main><!-- End #main -->


{% include '../footer.html' %}