{% load static %}
<!-- ======= Footer ======= -->
  <!--<footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Fitri</span></strong>. All Rights Reserved
    </div>
  </footer>--><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'feed/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'feed/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'feed/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'feed/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'feed/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'feed/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'feed/vendor/tinymce/tinymce.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'feed/js/main.js' %}"></script>
  <script src="{% static 'feed/js/custom.js' %}"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

</body>

</html>